# Ignore virtual environments and generated reports
venv/
uploads/
static/reports/
app/uploads/
app/static/reports/
input_files/

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore environment variable files
.env

# Ignore VS Code workspace settings (optional)
.vscode/
*.code-workspace
